<h2>Vous avez re&ccedil;u un nouveau message !</h2>

Bonjour {{ name }}, un article a &eacute;t&eacute; post&eacute; sur le site !<br />

<p><strong>Article :</strong></p>

<p style="background-color: #eee; padding: 10px;">
	<strong>Titre :</strong> {{ titre }}<br />
	<strong>Auteur :</strong> {{ auteur }}<br />
	<strong>Date de cr&eacute;ation :</strong> {{ dateCrea }}<br />
	<strong>Texte :</strong> <br />{{ texte }}<br />
</p>

Rendez-vous dans l'administration de votre site <a href="">en cliquant ici</a>