<h2>Vous avez re&ccedil;u un nouveau message !</h2>

Bonjour {{ name }}, vous avez re&ccedil;u un nouveau message !<br />

<p><strong>Votre message :</strong></p>

<p style="background-color: #eee; padding: 10px;">
	<strong>Nom :</strong> {{ nom }}<br />
	<strong>Pr&eacute;nom :</strong> {{ prenom }}<br />
	<strong>Email :</strong> {{ email }}<br />
	<strong>T&eacute;l&eacute;phone :</strong> {{ telephone }}<br />
	<strong>Choix :</strong> {{ choix }}<br />
	<strong>Texte :</strong> <br />{{ texte }}<br />
</p>

Rendez-vous &eacute;galement sur votre bo&icirc;te mail pour en d&eacute;couvrir l'original !